{% extends 'layout.html' %}

{% block title %}Login de usuário -{% endblock %}

{% block content %}
<h1>Login de usuário</h1>
<form action="">
    <div class="form-group">
        <label for="">Nome de usuário</label>
        <input type="text" class="form-control" placeholder="Informe seu nome de usuário">
    </div>
    <div class="form-group">
        <label for="">Senha</label>
        <input type="password" class="form-control" placeholder="Informe sua senha de acesso">
    </div>
    <button class="btn btn-success">Logar</button>
</form>
{% endblock %}